<%= form_for :blog, url: blogs_path do |f| %>
  <p>
    <%= f.label :blog_name %><br>
    <%= f.text_field :blog_name %>
  </p>

  <p>
    <%= f.label :slug, "Custom URL -- Enter a custom slug for your blog(ex. aogra-forum.com/myblog, where 'myblog' will be your custom url)" %><br>
    <%= f.text_field :slug %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
