<%= form_for([@blog, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, :size => 80, placeholder: "Enter the title of your Post here!", class: 'form-control' %>
    </p>
  </div>

  <div class="form-group">
    <p>
      <%= f.label :body, "Post" %><br>
      <%= f.text_area :body, :rows => 20, :cols => 80, placeholder: "Your content goes here. Feel free to use markdown to style things up a bit.", class: 'form-control' %>
    </p>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
