<!DOCTYPE html>
<html>
<head>
  <title>Agora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navbar Section -->
<% if user_signed_in? %>
  <%= render 'layouts/navbar' %>
<% else %>
  <%= render 'layouts/navbar_visitor' %>
<% end %><!-- End Navbar Section -->

<!-- Turbolinks <body>swap & Flash Messages -->
<div class="container">
  <%= flash_messages %>
  <%= yield %>
</div><!-- End Turbolinks <body>swap & Flash section -->

</body>
</html>
